.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
study-jdk/.classpath
study-jdk/.settings/org.eclipse.core.resources.prefs
study-jdk/.settings/org.eclipse.jdt.core.prefs
study-jdk/.settings/org.eclipse.m2e.core.prefs
